{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "useTabs": false
      }
    },
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
